body {
    background-color: #f2f2f2;
}

main {
    margin: 10vh 10vw;
    font-size: 16px;
    font-family: sans-serif;
}

h2 {
    margin-top: 30px;
    font-size: 1.2em;
    color: dodgerblue;
}

li {
    list-style: circle;
    font-weight: bold;
    color: dimgrey;
}

nav #nav_servicios {
	background-color: #86a3d5;
	color: #ffffff;
	border-radius: 3px;
	padding:6px 10px;
}
