main { margin: 10vh 10vw; }

main h2 {
    color: dodgerblue;
}

.details {
    line-height: 1.5rem;
}

.details span {
    font-size: 0.8rem;
}

.details strong{
    color: dodgerblue;
}

.details #week_day{
    color: dimgrey;
    font-family: serif;
}

nav #nav_contacto {
	background-color: #86a3d5;
	color: #ffffff;
	border-radius: 3px;
	padding:6px 10px;
}