<main>
    
    <section class="verticalLine">
        <h2>Acerca de La Academia</h2>

        <p>
            Somos una academia con gran <strong>experiencia</strong> en el mundo de la enseñanza que ofrece tanto clases de refuerzo y apoyo para primaria, ESO, bachillerato, universidad y formación continua. En Academia Gustavo empezamos nuestra actividad en 2003 pero nuestros profesores llevan dando clases desde hace muchos años a alumnado de todas las edades y niveles.
        </p>

        <p>
            Nuestra filosofía es la de ofrecer una formación efectiva, con grupos reducidos y una <strong>atención personalizada</strong>. En Academia Gustavo nos hemos especializado en formación con las siguientes modalidades de estudio:
        </p>

        <ul>
            <li><strong>Presencial</strong>, con asistencia a nuestro centro.</li>
            <li><strong>Semipresencial</strong> con estudio a distancia y apoyo en nuestro centro.</li>
        </ul>

        <p>
            Con más de 20 años de experiencia, los <strong>resultados están garantizados</strong>, ya que nuestra forma de trabajar está pensada para que el alumnado desarrolle todo su potencial y capacidad de estudio, lo que hace que logremos un mayor índice de aprobados. Para conseguir este objetivo ofrecemos:
        </p>

        <h2>Aprobarás</h2>

        <ul>
            <li>Una enseñanza personalizada, lo que nos permite enseñar lo que es necesario en cada momento. Durante las clases, cada alumno es tratado de forma <strong>individualizada</strong> siguiendo la metodología más adecuada a sus circunstancias.</li>
            <li>Acercamos a nuestro alumnado <strong>nuevas técnicas de estudio</strong> de fácil aprendizaje y aplicación, así se optimiza su esfuerzo y rendimiento.</li>
            <li>Seguimiento continuo de la evolución del aprendizaje, lo que nos permite conseguir el <strong>éxito</strong>.</li>
            <li>Nuestro alumnado recibe apoyo y <strong>motivación</strong> constante.</li>
        </ul>

        <p>
            Si estás buscando una academia para tus clases de apoyo o para preparar tu futuro empleo, podemos ayudarte. <strong>¡Infórmate sin compromiso!</strong>
        </p>
    </section>
    
    <aside class="aside_list">
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li>
                <a href="servicios.html">Servicios</a>
                <ul>
                    <li><a href="servicios/primaria.html">Primaria, ESO</a></li>
                    <li><a href="servicios/bachillerato.html">Bachillerato</a></li>
                    <li><a href="servicios/universidad.html">Universidad</a></li>
                    <li><a href="servicios/ciclos.html">Ciclos Formativos</a></li>
                </ul>
            </li>
            <li><a href="#" class="selected">Acerca de</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </aside>
</main>