<main>
    <section class="verticalLine">
        <h2>PAU, Acceso para mayores de 25 años, Acceso a ciclos formativos</h2>
        <p>
            Te preparamos para superar las pruebas que te permita obtener el certificado de <strong>acceso ya sea a la universidad o a ciclos formativos</strong> de Formación Profesional sin necesidad de tener los requisitos académicos. Todas las especialidades. Te ayudamos a preparar las asignaturas principales de las diferentes pruebas. En algunas convocatorias conseguimos el 100% de aprobados.
        </p>
        <p>
            Puesto que la mayoría de los alumnos de estas clases son tienen empleo, los horarios se suelen acordar entre el alumnado y el profesor. <strong>Si desea más información le invitamos a que <a href="../contacto.html">contacte</a> con nosotros.</strong>
        </p>
    </section>
    
    
    <aside class="aside_list">
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li>
                <a href="../servicios.html">Servicios</a>
                <ul>
                    <li><a href="../servicios/primaria.html">Primaria, ESO</a></li>
                    <li><a href="../servicios/bachillerato.html">Bachillerato</a></li>
                    <li><a href="../servicios/universidad.html">Universidad</a></li>
                    <li><a href="#" class="selected">Ciclos Formativos</a></li>
                </ul>
            </li>
            <li><a href="../acerca_de.html">Acerca de</a></li>
            <li><a href="../contacto.html">Contacto</a></li>
        </ul>
    </aside>
</main>