<main>
    <p>
        Contacta ante cualquier duda que te surja, ya sea para cuestiones administrativas de matrícula, sobre los cursos que impartimos, la metodología que utilizamos... <strong>¡Nos encantará atenderte!</strong>
    </p>
    
    <p class="details">
        <strong>Dirección</strong>
        <br>
        <span>Calle Ingeniero José Bosch y Sintes, 7</span>
        <br>
        <span>35003 Las Palmas de GC</span>
    </p>
    <hr>
    <p class="details">
        <strong>Horario de oficina</strong>
        <br>
        <strong id="week_day">L - V</strong>
        <br>
        <span>16:30 - 21:00</span>
    </p>
    <hr>
    <p class="details">
        <strong>Datos de contacto</strong>
        <br>
        <span>Telefono: 928 360585</span>
        <br>
        <span>e-mail: <em>academiagustavo@gmail.com</em></span>
    </p>
    
</main>