<main>
    <section class="verticalLine">
        <p>
            Contacta ante cualquier duda que te surja, ya sea para cuestiones administrativas de matrícula, sobre los cursos que impartimos, la metodología que utilizamos... <strong>¡Nos encantará atenderte!</strong>
        </p>

        <section class="infoContacto">
            <p class="details">
                <strong>Dirección</strong>
                <br>
                <span>Calle Ingeniero José Bosch y Sintes, 7</span>
                <br>
                <span>35003 Las Palmas de GC</span>
            </p>
            <hr>
            <p class="details">
                <strong>Horario de oficina</strong>
                <br>
                <strong id="week_day">L - V</strong>
                <br>
                <span>16:30 - 21:00</span>
            </p>
            <hr>
            <p class="details">
                <strong>Datos de contacto</strong>
                <br>
                <span>Telefono: 928 360585</span>
                <br>
                <span>e-mail: <em>academiagustavo@gmail.com</em></span>
            </p>
        </section>
    </section>
    
    
    <aside class="aside_list">
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li>
                <a href="servicios.html">Servicios</a>
                <ul>
                    <li><a href="servicios/primaria.html">Primaria, ESO</a></li>
                    <li><a href="servicios/bachillerato.html">Bachillerato</a></li>
                    <li><a href="servicios/universidad.html">Universidad</a></li>
                    <li><a href="servicios/ciclos.html">Ciclos Formativos</a></li>
                </ul>
            </li>
            <li><a href="acerca_de.html">Acerca de</a></li>
            <li><a href="#" class="selected">Contacto</a></li>
        </ul>
    </aside>
</main>