<footer class="footer-distributed">

    <div class="footer-left">

        <h3>Academia<span>Gustavo</span></h3>

        <p class="footer-links">
            <a href="../index.html">Inicio</a>
            ·
            <a href="../servicios.html">Servicios</a>
            ·
            <a href="../acerca_de.html">Acerca de</a>
            ·
            <a href="../contacto.html">Contacto</a>
        </p>

        <p class="footer-company-name">Academia Gustavo &copy; 2017</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>C/ Ingeniero José Bosch y Síntes, 7</span> Las Palmas de Gran Canaria,<br>España</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+34 928 360585</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">academiagustavo@gmail.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p>Consúltanos</p>

        <form id="contactform" action="https://formspree.io/suleymaniye.1494@gmail.com" method="post">

            <input type="hidden" name="_subject" value="Consulta vía Web de la Academia Gustavo" />
            <input type="text" name="email" placeholder="Introduzca su e-mail" />
            <textarea name="mensaje" placeholder="Escriba aquí su consulta"></textarea>
            <button>Enviar</button>

        </form>
        
        <script language="JavaScript">
            var frmvalidator  = new Validator("contactform");
            frmvalidator.addValidation("email","req","Por favor, introduce una dirección de correo electrónico");
            frmvalidator.addValidation("email","email",
            "La dirección de correo electrónico introducida no es válida");
        </script>

    </div>
    
    <div class="acreditacion">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

</footer>