<footer class="footer-distributed">
    <div class="footer-left">
        <h3>Academia<span>Gustavo</span></h3>

        <p class="footer-links">
            <a href="#">Inicio</a>
            ·
            <a href="#">Servicios</a>
            ·
            <a href="#">Acerca de</a>
            ·
            <a href="#">Contacto</a>
        </p>

        <p class="footer-company-name">Academia Gustavo &copy; 2015</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>C/ Ingeniero José Bosch y Síntes</span> Las Palmas de Gran Canaria,<br>España</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+34 928 360585</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">academiagustavo@gmail.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p>Consultanos</p>

        <form id="contactform" method="post">

            <input id="inputemail" type="text" name="email" placeholder="Introduzca su e-mail" />
            <textarea id="inputmessage" name="message" placeholder="Mensaje"></textarea>
            <button>Enviar</button>

        </form>
        
        <script language="JavaScript">
            var frmvalidator  = new Validator("contactform");
            frmvalidator.addValidation("email","req","Please provide your email");
            frmvalidator.addValidation("email","email",
            "Please enter a valid email address");
        </script>
        
    </div>
</footer>
