<main class="section-distributed">
    <section class="section-left">
        <img src="../img/experiencia.png" alt="" width="150px" >
        <h2>Experiencia</h2>
        <p>
            Llevamos más de 20 años formando alumnos y alumnas de todas las edades adaptándonos a sus necesidades. Nuestro equipo docente está compuesto por profesionales cualificados con amplia experiencia en todas las materias imparitdas.
        </p>
    </section>

    <section class="section-center-left">
        <img src="../img/tu_manera.png" alt="" width="150px">
        <h2>A tu manera</h2>
        <p>
            Impartimos clases tanto a grupos como de manera individual. Ofrecienéndote la oportunidad de elegir la opción que más se ajuste a sus necesidades y posibilidades.
        </p>
    </section>

    <section class="section-center-right">
        <img src="../img/garantia.png" alt="" width="150px">
        <h2>Garantía de resultados</h2>
        <p>
            Podemos garantizar a cada alumno y alumna una enseñanza personalizada. Asimismo, se conciertan entrevistas en caso necesario, para conseguir que todos los estudiantes consigan superar todos los obstáculos que le impidan su correcta evolución académica.
        </p>
    </section>

    <section class="section-right">
        <img src="../img/nos_adaptamos.png" alt="" width="150px">
        <h2>Nos adaptamos a ti</h2>
        <p>
            Dispondrás de cómodos horarios, y si lo necesitas, podrás disponer de profesorado para la preparación intensiva de tus exámenes incluso los sábados. Si buscas una academia que te ofrezca las mejores garantías: somos tu elección.
        </p>
    </section>
</main>