<main>
    <section class="verticalLine">
        <h2>Clases particulares de Primaria y ESO</h2>
        <p>
            Nuestro principal objetivo es <strong>responder a tus necesidades individuales</strong>, por lo que ponemos a tu disposición material didáctico elaborado expresamente para cumplir los objetivos a corto y medio plazo y una serie de servicios que te ayuden a cumplir tu objetivo final, <strong>aprobar</strong>. Podrás elegir aquella que más se ajuste a tu necesidad, ya sea <strong>clases en grupo, individuales, modalidad mixta: clases en grupos+clases individuales. o cursos intensivos de verano</strong>: julio y agosto.
        </p>
        <p>
            <strong>Los horarios son a título informativo</strong>, pueden sufrir pequeñas variaciones según las circunstancias del curso. Las clases son 3 horas a la semana distribuidas a lo largo de la semana en días alternos, esto es así porque consideramos que es la forma más efectiva para que el alumno aprenda y no pierda el ritmo de trabajo. <strong>Si está interesado en asistir a las clase puede <a href="../contacto.html">contactar</a> con nosotros para confirmar el horario</strong>.
        </p>
        
        <section>
            <h3>Impartimos clases particulares de:</h3>
            <ul>
                <li>Matemáticas</li>
                <li>Lengua española</li>
                <li>Lengua extranjera: inglés y francés</li>
                <li>Física y Química</li>
                <li>Ciencias Sociales, Historia</li>
                <li>Dibujo</li>
                <li>Economía</li>
            </ul>
            <p>
                <strong>Si no encuentra la asignatura que desea en esta lista puede ponerse en <a href="../contacto.html">contacto</a> con nosotros y estaremos encantados de informarle.</strong>
            </p>
        </section>
        
    </section>
    
    
    <aside class="aside_list">
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li>
                <a href="../servicios.html">Servicios</a>
                <ul>
                    <li><a href="#" class="selected">Primaria, ESO</a></li>
                    <li><a href="../servicios/bachillerato.html">Bachillerato</a></li>
                    <li><a href="../servicios/universidad.html">Universidad</a></li>
                    <li><a href="../servicios/ciclos.html">Ciclos Formativos</a></li>
                </ul>
            </li>
            <li><a href="../acerca_de.html">Acerca de</a></li>
            <li><a href="../contacto.html">Contacto</a></li>
        </ul>
    </aside>
</main>