<main>
            
    <section class="verticalLine">
        <p>
            El refuerzo escolar facilita el estudio a aquel alumnado con dificultades para mantener una constancia en sus tareas escolares en casa. Para conseguirlo, realizamos un <strong>seguimiento permanente</strong> de su evolución y se interviene en aquellas dificultades de organización y/o estudio, utilizando las técnicas más avanzadas para mejorar el rendimiento en los procesos de aprendizaje.
        </p>
        <p>
            Las clases de apoyo se imparten en aulas de no más de 30 personas con lo que podemos garantizarte una <strong>atención personalizada</strong>. Asimismo, se conciertan entrevistas, para tratar de conseguir que nuestro alumnado supere posibles cortapisas que impidan su correcta evolución académica y personal.
        </p>
        <p>En todas nuestra clases ofrecemos los siguientes servicios:</p>
        <ul>
            <li>Atención personalizada</li>
            <li>Seguimiento escolar</li>
            <li>Grupos reducidos</li>
            <li>Identificación y resolución de las causas del fracaso escolar.</li>
        </ul>
        <p>Todos los años tenemos un <strong>alto índice de aprobados</strong>.</p>

        <h2>Áreas de formación</h2>
        <p>
            En este apartado puedes encontrar todos nuestros cursos encaminados a formarte y ayudarte a conseguir tus objetivos y superar los exámenes.
        </p>
        <ul>
            <li>Clases de primaria y ESO</li>
            <li>Clases de bachillerato</li>
            <li>Clases de universidad</li>
            <li>Clases de acceso a ciclos formativos y universidad</li>
        </ul>
    </section>
        
    <aside class="aside_list">
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li>
                <a href="#" class="selected">Servicios</a>
                <ul>
                    <li><a href="servicios/primaria.html">Primaria, ESO</a></li>
                    <li><a href="servicios/bachillerato.html">Bachillerato</a></li>
                    <li><a href="servicios/universidad.html">Universidad</a></li>
                    <li><a href="servicios/ciclos.html">Ciclos Formativos</a></li>
                </ul>
            </li>
            <li><a href="acerca_de.html">Acerca de</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </aside>
</main>