<main>
    <section class="verticalLine">
        <h2>Universidad</h2>
        
        <blockquote>
            <p>
                “El profesorado está muy bien preparado y la atención es personalizada.”
            </p>
            <cite>
                "M. Santana."
            </cite>
        </blockquote>
        
        <p>
            Conseguir una título universitario significa conseguir un <strong>trabajo fijo para toda la vida</strong>. Ahora puedes conseguir el tuyo. Avanzar en la carrera universitaria es, ante todo, un estado de ánimo. En Academia Gustavo lo sabemos y por eso te ofrecemos <strong>todo el apoyo necesario</strong>. Nos comprometemos a acompañarte en tu preparación hasta que consigas el aprobado.
        </p>
        <p>
            Trabajamos en <strong>grupos reducidos</strong> y con un sistema de aprendizaje cooperativo. Elaboramos diferentes actividades en cada uno de ellos.
        </p>
        <p>
            Preparamos un amplio abanico de asignaturas. Dependiendo de tu vocación y nivel de estudios elige la que consideres más adecuada dentro de las posibilidades que te ofrecemos.
        </p>
        <p>
            Elige la que más te interese e <strong>infórmate ahora</strong>. No te lo pienses más y aprovecha esta oportunidad. En todas las convocatorias, obtenemos un alto número de aprobados.
        </p>
        
        <section>
            <h3>Impartimos clases particulares a nivel universitario de las asignaturas de:</h3>
            
            <h4>Ingenierías</h4>
            <ul>
                <li>Cálculo I y II</li>
                <li>Álgebra</li>
                <li>Métodos estadísticos</li>
                <li>Física I y II, Campos electromagnéticos y ondas</li>
                <li>Expresión gráfica</li>
                <li>Fundamentos de economía y empresa</li>
                <li>Química</li>
            </ul>
            
            <h4>Arquitectura</h4>
            <ul>
                <li>Matemáticas</li>
                <li>Dibujo arquitectónico</li>
            </ul>
            
            <h4>Magisterio, Educación Física</h4>
            <ul>
                <li>Matemáticas y su didáctica I, II y III</li>
                <li>Estadística</li>
                <li>Inglés</li>
            </ul>
            
            <h4>Empresariales, Económicas, ADE, Turismo</h4>
            <ul>
                <li>Matemáticas</li>
                <li>Estadística</li>
                <li>Métodos cuantitativos</li>
            </ul>
            
            <h4>Enfermería</h4>
            <ul>
                <li>Estadística</li>
            </ul>
            
            <p>
                <strong>Si no encuentra la asignatura que desea en esta lista puede ponerse en <a href="../contacto.html">contacto</a> con nosotros y estaremos encantados de informarle.</strong>
            </p>
        </section>
        
    </section>
    
    
    <aside class="aside_list">
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li>
                <a href="../servicios.html">Servicios</a>
                <ul>
                    <li><a href="../servicios/primaria.html">Primaria, ESO</a></li>
                    <li><a href="../servicios/bachillerato.html">Bachillerato</a></li>
                    <li><a href="#" class="selected">Universidad</a></li>
                    <li><a href="../servicios/ciclos.html">Ciclos Formativos</a></li>
                </ul>
            </li>
            <li><a href="../acerca_de.html">Acerca de</a></li>
            <li><a href="../contacto.html">Contacto</a></li>
        </ul>
    </aside>
</main>