<!DOCTYPE html>

<html lang="es">
    <head>
        <title>{{ page.title }}</title>
        <link rel="icon" href="/img/head_icon.ico">
        
        <link rel="stylesheet" href="/css/header-basic-light.css">
        <link rel="stylesheet" href="/css/footer-distributed-with-address-and-phones.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        <header class="header-basic-light">

            <div class="header-limiter">

                <h1><a href="#">Academia <span>Gustavo</span></a></h1>

                <nav>
                    <a href="/" class="selected">Inicio</a>
                    <a href="/servicios">Servicios</a>
                    <a href="/acerca_de">Acerca de</a>
                    <a href="/contacto">Contacto</a>
                </nav>
            </div>

        </header>
        
        {{content}}
        
        <footer class="footer-distributed">

			<div class="footer-left">

				<h3>Academia<span>Gustavo</span></h3>

				<p class="footer-links">
					<a href="#">Inicio</a>
					·
					<a href="#">Servicios</a>
					·
					<a href="#">Acerca de</a>
					·
					<a href="#">Contacto</a>
				</p>

				<p class="footer-company-name">Academia Gustavo &copy; 2015</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>C/ Ingeniero José Bosch y Síntes</span> Las Palmas de Gran Canaria,<br>España</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+34 928 360585</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">academiagustavo@gmail.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p>Consultanos</p>

				<form action="#" method="post">

					<input type="text" name="email" placeholder="Introduzca su e-mail" />
					<textarea name="message" placeholder="Message"></textarea>
					<button>Send</button>

				</form>

			</div>

		</footer>
    </body>
</html>
